/* Estilos generales */
.icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer.relative-footer {
    position: relative;
}

/* Estilos para el carrusel */
.carousel-inner {
    width: 50%;
    border-radius: 1rem;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4), -2px -2px 10px rgba(0, 0, 0, 0.2);
}

.carousel-caption h2 {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev {
    margin-left: 10%;
}

.carousel-control-next {
    margin-right: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

/* Estilos para el breadcrumb */
.breadcrumb {
    padding-left: 50px;
}

/* Estilos para el dropdown */
.dropdown-menu {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
}

/* Quan el pare es sobrevola, es mostra el submenú */
.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
    margin-left: 0.1rem;
}

/* Estilos para el mensaje de bienvenida */
.welcome-message {
    margin-left: auto !important;
    margin-right: 2rem !important;
    font-size: 1.1em;
    font-weight: bold;
    color: #0d6efd;  /* Color primary de Bootstrap */
    position: absolute;
    right: 200px;    /* Ajusta este valor según necesites */
    top: 50%;
    transform: translateY(-50%);
}

/* Aseguramos que el contenedor tenga posición relativa */
.navbar-nav {
    position: relative;
    width: 100%;
}

/* Estilo para la alerta de cookies */
#cookieAlert {
    position: fixed;    /* Para que se mantenga fija en la pantalla */
    bottom: 0;         /* En la parte inferior */
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1000;    /* Para que aparezca por encima de otros elementos */
    border-radius: 0;
}

/* Ajuste para que el footer no se superponga con la alerta de cookies */
body {
    padding-bottom: 60px;  /* Espacio para la alerta de cookies */
}
